pyfomod/fomod.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="2.0">
    <xs:element name="config">
        <xs:annotation>
            <xs:documentation>
                The root element containing the installer configuration info.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="moduleName" type="moduleTitle">
                    <xs:annotation>
                        <xs:documentation>
                            The name of the mod.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="moduleImage" type="headerImage" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            The mod main image.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="moduleDependencies" type="compositeDependency" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Items upon which the mod depends.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="requiredInstallFiles" type="fileList" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            The list of files and folders that are always installed.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="installSteps" type="stepList" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            The list of steps that give the user (whoever's installing this mod)
                            the ability to choose between specific options.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="conditionalFileInstalls" type="conditionalFileInstallList" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            A list of patterns that map specific dependencies
                            (like flags to a specific value) to a set of files
                            and folders to install.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="moduleTitle">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="position" use="optional" default="Left">
                    <xs:annotation>
                        <xs:documentation>
                            Where to place the title string.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Left">
                                <xs:annotation>
                                    <xs:documentation>
                                        Positions the title on the left side of the header.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="Right">
                                <xs:annotation>
                                    <xs:documentation>
                                        Positions the title on the right side of the header.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="RightOfImage">
                                <xs:annotation>
                                    <xs:documentation>
                                        Positions the title on the right side of the image in the header.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="colour" use="optional" default="000000" type="xs:hexBinary">
                    <xs:annotation>
                        <xs:documentation>
                            The colour to use for the title.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="headerImage">
        <xs:attribute name="path" use="optional" type="imagePath">
            <xs:annotation>
                <xs:documentation>
                    The path to the image in the fomod.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="showImage" type="xs:boolean" default="true" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether or not the image should be displayed.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="showFade" type="xs:boolean" default="true" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether or not the fade effect should be displayed.
                    This value is ignored if showImage is false.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="height" type="xs:int" default="-1" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The height to use for the image.
                    Note that there is a minimum height that is enforced based on the user's settings.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="compositeDependency">
        <xs:annotation>
            <xs:documentation>
                A dependency that is made up of one or more dependencies.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="fileDependency" type="fileDependency" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies that a file in the destination
                            folder must be in a specified state.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="flagDependency" type="flagDependency" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies that a condition flag
                            must have a specific value.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="gameDependency" type="versionDependency" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies a minimum required
                            version of the installed game.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="fommDependency" type="versionDependency" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies a minimum required
                            version of FOMM.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="dependencies" type="compositeDependency">
                    <xs:annotation>
                        <xs:documentation>
                            A nested set of dependencies.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="operator" default="And">
            <xs:annotation>
                <xs:documentation>
                    The relation of the contained dependencies.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="And">
                        <xs:annotation>
                            <xs:documentation>
                                Indicates all contained dependencies
                                must be satisfied in order for this
                                dependency to be satisfied.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Or">
                        <xs:annotation>
                            <xs:documentation>
                                Indicates at least one listed
                                dependency must be satisfied
                                in order for this dependency
                                to be satisfied.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="fileDependency">
        <xs:attribute name="file" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    A file in the destination folder
                    upon which a the plugin depends.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="state" use="required">
            <xs:annotation>
                <xs:documentation>
                    The state of the file.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Missing">
                        <xs:annotation>
                            <xs:documentation>
                                Indicates the mod file is not installed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Inactive">
                        <xs:annotation>
                            <xs:documentation>
                                Indicates the mod file is installed,
                                but not active.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Active">
                        <xs:annotation>
                            <xs:documentation>
                                Indicates the mod file is installed and active.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="flagDependency">
        <xs:attribute name="flag" type="flagName" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of the flag upon
                    which a the plugin depends.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="flagValue" use="required">
            <xs:annotation>
                <xs:documentation>
                    The value of the flag upon
                    which a the plugin depends.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="versionDependency">
        <xs:attribute name="version" type="versionString" use="required">
            <xs:annotation>
                <xs:documentation>
                    The required minimum version of the item.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="fileList">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="file" type="fileType" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            A file to install.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="folder" type="folderType" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            A folder to install
                            (installs everything INSIDE the
                            folder into the destination folder).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fileType">
        <xs:attribute name="source" type="filePath" use="required">
            <xs:annotation>
                <xs:documentation>The path to a file in the fomod.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="systemItemAttributes"/>
    </xs:complexType>

    <xs:complexType name="folderType">
        <xs:attribute name="source" type="folderPath" use="required">
            <xs:annotation>
                <xs:documentation>The path to a folder in the fomod.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="systemItemAttributes"/>
    </xs:complexType>

    <xs:complexType name="stepList">
        <xs:sequence>
            <xs:element name="installStep" type="installStep" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        The installation steps used to provide
                        users with choices on what to install.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="order" type="orderEnum" use="optional" default="Ascending">
            <xs:annotation>
                <xs:documentation>
                    How to order the install steps.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="installStep">
        <xs:sequence>
            <xs:element name="visible" type="compositeDependency" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        A set of dependencies that when matched,
                        the install step is visible. Otherwise,
                        the install step is skipped.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="optionalFileGroups" type="groupList" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        A list of option (user choices) groups.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of the install step.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="groupList">
        <xs:sequence>
            <xs:element name="group" type="group" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        A group of plugins (user choices) for the mod.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="order" type="orderEnum" use="optional" default="Ascending">
            <xs:annotation>
                <xs:documentation>
                    How to order the groups.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="group">
        <xs:sequence>
            <xs:element name="plugins" type="pluginList">
                <xs:annotation>
                    <xs:documentation>
                        The list of plugins in the group.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of the group.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" use="required">
            <xs:annotation>
                <xs:documentation>
                    The group type - affects which options can be chosen.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SelectAtLeastOne">
                        <xs:annotation>
                            <xs:documentation>
                                At least one plugin in the group must be selected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="SelectAtMostOne">
                        <xs:annotation>
                            <xs:documentation>
                                At most one plugin in the group can be selected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="SelectExactlyOne">
                        <xs:annotation>
                            <xs:documentation>
                                Exactly one plugin in the group must be selected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="SelectAll">
                        <xs:annotation>
                            <xs:documentation>
                                All plugins in the group must be selected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="SelectAny">
                        <xs:annotation>
                            <xs:documentation>
                                Any number of plugins in the group can be selected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="pluginList">
        <xs:sequence>
            <xs:element name="plugin" type="plugin" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        A plugin (user's choice) belonging to a group.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="order" type="orderEnum" use="optional" default="Ascending">
            <xs:annotation>
                <xs:documentation>
                    How to order the plugins.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="plugin">
        <xs:sequence>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        A description of the plugin.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="image" type="image" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The image associated with the plugin.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="files" type="fileList">
                        <xs:annotation>
                            <xs:documentation>
                                The list of files and folders that need
                                to be installed if the plugin is selected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="conditionFlags" type="conditionFlagList" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                The list of flags to set if the plugin is selected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="conditionFlags" type="conditionFlagList">
                        <xs:annotation>
                            <xs:documentation>
                                The list of flags to set if the plugin is selected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="files" type="fileList" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                The list of files and folders that need
                                to be installed if the plugin is selected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
            <xs:element name="typeDescriptor" type="pluginTypeDescriptor">
                <xs:annotation>
                    <xs:documentation>
                        Describes the type of the plugin.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of the plugin.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="image">
        <xs:attribute name="path" use="required" type="imagePath">
            <xs:annotation>
                <xs:documentation>
                    The path to the image in the fomod.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="conditionFlagList">
        <xs:sequence>
            <xs:element name="flag" type="setConditionFlag" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        A flag to set if the plugin is selected.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setConditionFlag">
        <xs:simpleContent>
            <xs:extension base="flagValue">
                <xs:attribute name="name" type="flagName" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            The identifying name of the flag.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="pluginTypeDescriptor">
        <xs:choice>
            <xs:element name="dependencyType" type="dependencyPluginType">
                <xs:annotation>
                    <xs:documentation>
                        Used when the plugin type is dependent upon other items.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="pluginType">
                <xs:annotation>
                    <xs:documentation>
                        Defines the type of the plugin.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="pluginType">
        <xs:attribute name="name" use="required" type="pluginTypeEnum">
            <xs:annotation>
                <xs:documentation>
                    The plugin type.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="dependencyPluginType">
        <xs:sequence>
            <xs:element name="defaultType" type="pluginType">
                <xs:annotation>
                    <xs:documentation>
                        The default type of the plugin used if none
                        of the specified dependency states are satisfied.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="patterns" type="dependencyPatternList">
                <xs:annotation>
                    <xs:documentation>
                        The list of dependency patterns against which to
                        match the user's installation. The first pattern
                        that matches the user's installation determines
                        the type of the plugin.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dependencyPatternList">
        <xs:sequence>
            <xs:element name="pattern" type="dependencyPattern" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        A specific pattern of mod files and condition flags
                        against which to match the user's installation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dependencyPattern">
        <xs:sequence>
            <xs:element name="dependencies" type="compositeDependency">
                <xs:annotation>
                    <xs:documentation>
                        The list of mods and their states against
                        which to match the user's installation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="pluginType">
                <xs:annotation>
                    <xs:documentation>
                        The type of the plugin to use
                        when the dependencies are matched.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="conditionalFileInstallList">
        <xs:sequence>
            <xs:element name="patterns" type="conditionalInstallPatternList">
                <xs:annotation>
                    <xs:documentation>
                        The list of patterns against which to match
                        the conditional flags and installed files.
                        All matching patterns will have their files installed.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="conditionalInstallPatternList">
        <xs:sequence>
            <xs:element name="pattern" type="conditionalInstallPattern" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        A specific pattern of mod files and flags
                        against which to match the user's installation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="conditionalInstallPattern">
        <xs:sequence>
            <xs:element name="dependencies" type="compositeDependency">
                <xs:annotation>
                    <xs:documentation>
                        The list of mods and their states against
                        which to match the user's installation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="files" type="fileList">
                <xs:annotation>
                    <xs:documentation>
                        The files and folders to install
                        if the pattern is matched.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="pluginTypeEnum">
        <xs:annotation>
            <xs:documentation>
                The possible plugin types.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Required">
                <xs:annotation>
                    <xs:documentation>
                        Indicates the plugin must be installed.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Optional">
                <xs:annotation>
                    <xs:documentation>
                        Indicates the plugin is optional.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Recommended">
                <xs:annotation>
                    <xs:documentation>
                        Indicates the plugin is recommended.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NotUsable">
                <xs:annotation>
                    <xs:documentation>
                        Indicates that using the plugin could result in instability
                        (i.e., a prerequisite plugin is missing).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CouldBeUsable">
                <xs:annotation>
                    <xs:documentation>
                        Indicates that using the plugin could result in instability if loaded
                        with the currently active plugins (i.e., a prerequisite plugin is missing),
                        but that the prerequisite plugin is installed, just not activated.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="orderEnum">
        <xs:annotation>
            <xs:documentation>
                The possible orders of items.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ascending">
                <xs:annotation>
                    <xs:documentation>
                        Indicates the items are to be
                        ordered ascending alphabetically.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Descending">
                <xs:annotation>
                    <xs:documentation>
                        Indicates the items are to be
                        ordered descending alphabetically.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Explicit">
                <xs:annotation>
                    <xs:documentation>
                        Indicates the items are to be ordered
                        as listed in the configuration file.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- The base group for both file and folder elements -->
    <xs:attributeGroup name="systemItemAttributes">
        <xs:attribute name="destination" type="folderPath">
            <xs:annotation>
                <xs:documentation>
                    The path to which the file or folder should be installed.
                    If empty, the default destination folder is used.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="alwaysInstall" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Indicates that the file or folder should always be installed,
                    regardless of whether or not the plugin has been selected.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="installIfUsable" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Indicates that the file or folder should always be installed
                    if the plugin is not NotUsable, regardless of whether or not
                    the plugin has been selected.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="priority" type="xs:integer" default="0">
            <xs:annotation>
                <xs:documentation>
                    A number describing the relative priority of the file or folder.
                    A higher number indicates the file or folder should be installed
                    after the items with lower numbers.
                    This value does not have to be unique.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <!-- These next simpleTypes are currently
         used only for increasing granularity
         in attribute types.
         -->

    <xs:simpleType name="filePath">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="folderPath">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="imagePath">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="versionString">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="flagName">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="flagValue">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:element name="fomod">
        <xs:annotation>
            <xs:documentation>
                The following tags are to be filled in according
                to their tags, shouldn't be hard to figure out.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string" minOccurs="0"/>
                <xs:element name="Author" type="xs:string" minOccurs="0"/>
                <xs:element name="Version" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="MachineVersion" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Description" type="xs:string" minOccurs="0"/>
                <xs:element name="Website" type="xs:string" minOccurs="0"/>
                <xs:element name="Id" type="xs:string" minOccurs="0"/>
				<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
